<a href="https://colab.research.google.com/github/aguilarmajan/CPEN-21A-CPE-1-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop Statement

In [2]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The break statement

In [4]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [5]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x =="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through a string

In [6]:
for x in "week":
  print(x)

w
e
e
k

The range() function

In [9]:
for x in range(6):
  print("Example 1",x)

for x in range(2,6):
  print("Example 2",x)

Example 1 0
Example 1 1
Example 1 2
Example 1 3
Example 1 4
Example 1 5
Example 2 2
Example 2 3
Example 2 4
Example 2 5

Nested Loops

In [10]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
 for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## While loop Statement

In [11]:
i = 1
while i<6:
  print(i)
  i += 1 #i = i+1 Assignment operator

1
2
3
4
5

The break statement

In [12]:
i = 1
while i<6:
  print(i)
  if i==3:
    break
  i+=1 #Assignment operator for addition

1
2
3

In [14]:
i = 1
while i<6:
  i+=1 #Assignment operator for addition
  if i==3:
    continue
  else:
   print(i)

2
4
5
6

The else statement

In [15]:
i = 1
while i<6:
  print(i)
  i+=1
else: 
  print("i is no longer 6")

1
2
3
4
5
i is no longer 6

###Application 1
Create a Python program that displays:
Hello 0
Hello 1
Hello 2
Hello 3 
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10 (in vertical display)

In [18]:
hello = ["Hello 0","Hello 1","Hello 2","Hello 3","Hello 4","Hello 5","Hello 6","Hello 7","Hello 8","Hello 9","Hello 10"]
for x in hello:
  print(x)

i = 0
while i<=10:
  print("Hello",i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

###Application 2

In [26]:
for x in range(3,11):
  print("Integers",x)

Integers 3
Integers 4
Integers 5
Integers 6
Integers 7
Integers 8
Integers 9
Integers 10